{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="d-flex flex-column-reverse flex-md-row justify-content-evenly align-items-center flex-grow-1 m-2">
  <div class="card mt-2 mt-md-0">
    <img src="{% static 'authentication/media/sign-up.svg' %}" class="card-img-top svg-preview" alt="login" />

    <div class="card-body bg-success rounded-bottom minw-px-300">
      <h4 class="card-title text-light text-center mb-4">Inscrivez-vous maintenant</h4>
      <div class="d-flex flex-column align-items-end">
        <div class="bg-light rounded">
          <a class="btn btn-outline-dark" href="{% url 'signup' %}"><i class="bi bi-pencil-square"></i> S'inscrire</a>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <img src="{% static 'authentication/media/login.svg' %}" class="card-img-top svg-preview" alt="login" />

    <div class="card-body bg-success rounded-bottom minw-px-300">
      <h4 class="card-title text-center text-light mb-4">Connexion</h4>
      <form class="mb-0 w-100 d-flex flex-column align-items-center" method="post">

        <div class="input-group maxw-px-400">
          <span class="input-group-text"><i class="bi bi-person-circle"></i></span>
          <input type="text" class="form-control" placeholder="Nom d'utilisateur" aria-label="Username" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username">
        </div>

        <div class="input-group maxw-px-400 mt-2 mb-2">
          <span class="input-group-text"><i class="bi bi-key-fill"></i></span>
          <input type="password" class="form-control" placeholder="Mot de passe" aria-label="Password" name="password" autocomplete="current-password" required id="id_password">
        </div>

        {% csrf_token %}
        <div class="bg-light rounded align-self-end mt-2 mb-1">
          <button class="btn btn-outline-dark" type="submit" ><i class="bi bi-box-arrow-in-right"></i> Se connecter</button>
        </div>
        {% if form.non_field_errors %}
        <div class="maxw-px-400 alert alert-danger">
          <strong>{{ form.non_field_errors|escape }}</strong>
        </div>
        {% endif %}
        {% if form.username.errors %}
        <div class="maxw-px-400 alert alert-danger">
          <strong>{{ form.username.errors|escape }}</strong>
        </div>
        {% endif %}
        {% if form.password.errors %}
        <div class="maxw-px-400 alert alert-danger">
          <strong>{{ form.password.errors|escape }}</strong>
        </div>
        {% endif %}
        
      </form>
    </div>
  </div>  
</div>
{% endblock content %}