{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="d-flex flex-column-reverse flex-md-row justify-content-evenly align-items-center flex-grow-1 m-2">
  <div class="w-100 maxw-px-800 mx-2 mx-xl-0">
    <div class="bg-success text-light p-3 rounded d-flex flex-column align-items-center">
      
      <div class="bg-light text-dark p-3 rounded d-flex flex-column align-items-center w-100">{% include "reviewsapp/ticket_view.html" with ticket=review.ticket %}</div>
      
      <div class="d-flex mt-2 mb-2">
        <h5>{{ review.headline }}</h5>
        {% include "reviewsapp/star_rating.html" with rating=review.rating %}
      </div>
      <p class="bg-bro rounded text-dark p-3 w-100">{{ review.body }}</p>
      Utilisateur : {{ review.user }}
      Crée le : {{ review.time_created }}

      <div class="d-flex align-self-end mt-3 mt-xl-0">
        <div class="bg-light rounded me-3">
          <a class="btn btn-outline-dark" href="{% url 'review-update' review.id %}"><i class="bi bi-pencil-fill"></i> Modifier</a>
        </div>
        <div class="bg-light rounded">
          {% include "reviewsapp/delete_modal/open_button.html" %}
        </div>
      </div>
    </div>

  </div>
  <img src="{% static 'reviewsapp/media/ticket-details.svg' %}" class="card-img-top svg-preview" alt="create ticket" />
</div>


{% include "reviewsapp/delete_modal/content.html" %}
{% endblock content %}