{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="d-flex flex-column flex-md-row-reverse flex-grow-1 justify-content-evenly align-items-center m-3">

  <img src="{% static 'reviewsapp/media/ticket-create.svg' %}" class="card-img-top svg-preview" alt="create ticket" />

  <div class="w-100 maxw-px-800 text-light p-3 bg-success rounded">
    <form class="d-flex flex-column" method="post" enctype="multipart/form-data">
      <h4 class="text-center mt-2">Modifier une critique</h4>
      <div class="bg-light text-dark p-3 rounded d-flex flex-column align-items-center w-100 mt-2 mb-2">
        {% include "reviewsapp/ticket_view.html" with ticket=review.ticket %}
      </div>

      <div class="d-flex flex-column w-100">

        <label for="id_headline">Titre</label>
        <input type="text" class="form-control maxw-px-400" value="{{ review.headline }}" aria-label="Title" name="headline" maxlength="128" required id="id_headline">

        <label for="id_rating" class="mt-2 mb-2">Note</label>
        <div id="id_rating">
          <div class="form-check form-check-inline">
            {% if review.rating == 0 %}
              <input class="form-check-input" type="radio" name="rating" id="inlineRadio0" value="0" required checked>
            {% endif %}
            {% if review.rating != 0 %}
              <input class="form-check-input" type="radio" name="rating" id="inlineRadio0" value="0" required>
            {% endif %}
            <label class="form-check-label" for="inlineRadio0">0</label>
          </div>
          <div class="form-check form-check-inline">
            {% if review.rating == 1 %}
              <input class="form-check-input" type="radio" name="rating" id="inlineRadio1" value="1" required checked>
            {% endif %}
            {% if review.rating != 1 %}
              <input class="form-check-input" type="radio" name="rating" id="inlineRadio1" value="1" required>
            {% endif %}
            
            <label class="form-check-label" for="inlineRadio1">1</label>
          </div>
          <div class="form-check form-check-inline">
            {% if review.rating == 2 %}
              <input class="form-check-input" type="radio" name="rating" id="inlineRadio2" value="2" required checked>
            {% endif %}
            {% if review.rating != 2 %}
              <input class="form-check-input" type="radio" name="rating" id="inlineRadio2" value="2" required>
            {% endif %}
            
            <label class="form-check-label" for="inlineRadio2">2</label>
          </div>
          <div class="form-check form-check-inline">
            {% if review.rating == 3 %}
              <input class="form-check-input" type="radio" name="rating" id="inlineRadio3" value="3" required checked>
            {% endif %}
            {% if review.rating != 3 %}
              <input class="form-check-input" type="radio" name="rating" id="inlineRadio3" value="3" required>
            {% endif %}
            <label class="form-check-label" for="inlineRadio3">3</label>
          </div>
          <div class="form-check form-check-inline">
            {% if review.rating == 4 %}
              <input class="form-check-input" type="radio" name="rating" id="inlineRadio4" value="4" required checked>
            {% endif %}
            {% if review.rating != 4 %}
              <input class="form-check-input" type="radio" name="rating" id="inlineRadio4" value="4" required>
            {% endif %}
            <label class="form-check-label" for="inlineRadio4">4</label>
          </div>
          <div class="form-check form-check-inline">
            {% if review.rating == 5 %}
              <input class="form-check-input" type="radio" name="rating" id="inlineRadio5" value="5" required checked>
            {% endif %}
            {% if review.rating != 5 %}
              <input class="form-check-input" type="radio" name="rating" id="inlineRadio5" value="5" required>
            {% endif %}
            <label class="form-check-label" for="inlineRadio5">5</label>
          </div>
        </div>

        <label for="id_body" class="mt-2 mb-2">Description</label>
        <textarea class="form-control" aria-label="Description" name="body" maxlength="8192" id="id_body">{{ review.body }}</textarea>
      </div>
      {% csrf_token %}
      <div class="d-flex align-self-end mt-3">
        <div class="bg-light rounded me-3">
          <a class="btn btn-outline-dark" href="{% url 'review-details' review.id %}"><i class="bi bi-arrow-left-circle"></i> Annuler</a>
        </div>
        <div class="bg-light rounded">
          <button class="btn btn-outline-dark" type="submit"><i class="bi bi-check-circle"></i> Envoyer</button>
        </div>
      </div>

      
    </form>
  </div>
</div>
{% endblock content %}