{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="d-flex flex-column flex-md-row-reverse flex-grow-1 justify-content-evenly align-items-center m-3">

  <img src="{% static 'reviewsapp/media/create.svg' %}" class="card-img-top svg-preview" alt="create ticket" />

  <div class="w-100 maxw-px-800 text-light p-3 bg-success rounded">
    <form class="d-flex flex-column" method="post" enctype="multipart/form-data">
      <h4 class="text-center">Créer une critique</h4>
      {% if ticket is not None %}
        <p class="m-0">Vous répondez au ticket:</p>
      {% endif %}
      <div class="bg-light text-dark p-3 rounded d-flex flex-column align-items-center w-100 mt-2 mb-2">
        {% if ticket is None %}
          {% include "reviewsapp/forms/ticket.html" %}
        {% else %}
          {% include "reviewsapp/details/ticket_content.html" with ticket=ticket %}
        {% endif %}
      </div>

      {% include "reviewsapp/forms/review.html" %}

      {% csrf_token %}
      <div class="d-flex align-self-end mt-3">
        {% include "reviewsapp/buttons/cancel_home.html" %}
        {% include "reviewsapp/buttons/send.html" %}
      </div>
    </form>
  </div>
</div>
{% endblock content %}