{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid d-flex flex-grow-1">
    <div class="row flex-grow-1 justify-content-center">

        <div class="col-10 col-sm-10 col-md-5 align-self-center order-first order-md-last">
            <img src="{% static 'reviewsapp/media/ticket-create.svg' %}" class="card-img-top svg-preview" alt="create ticket" />
        </div>

        <div class="col-10 col-sm-10 col-md-6 align-self-center">
            
            <h4 class="text-center">Créer un ticket</h4>

            <form method="post" enctype="multipart/form-data">
                <div class="d-flex flex-column justify-content-evenly">
                Titre
                <input type="text" class="form-control" aria-label="Title" name="title" maxlength="128" required id="id_title">
                Description
                <textarea class="form-control" aria-label="Description" name="description" maxlength="2048" id="id_description"></textarea>
                Image
                <input type="file" class="form-control" aria-label="Image" name="image" accept="image/*" id="id_image">
                {% csrf_token %}
                <div class="d-flex justify-content-end">
                    <button class="btn btn-dark" type="submit">Envoyer</button>
                </div>
                </div>
            </form>

        </div>

    </div>
</div>
{% endblock content %}