{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid d-flex flex-grow-1">
  <div class="row flex-grow-1 justify-content-center">

    <div class="col-10 col-sm-10 col-md-4 align-self-center">
      <img src="{% static 'reviewsapp/media/ticket-update.svg' %}" class="card-img-top svg-preview" alt="create ticket" />
    </div>

    <div class="col-10 col-sm-10 col-md-7 align-self-center bg-success text-light rounded mt-2 mb-2 mt-lg-0 mb-lg-0">
      
      <h4 class="text-center mt-2">Inscription</h4>
      
      <form method="post">
        <div class="d-flex flex-column ">
          <label for="id_username">Nom d’utilisateur :</label>
          <div class="col-12 col-md-8 col-xl-6"><input type="text" class="form-control" value="{{ form.username.value|default_if_none:'' }}" name="username" maxlength="150" autocapitalize="none" autocomplete="username" autofocus required id="id_username"></div>
          <span class="helptext">Requis. 150 caractères maximum. Uniquement des lettres, nombres et les caractères « @ », « . », « + », « - » et « _ ».</span>

          <label class="mt-2 mb-2" for="id_password1">Mot de passe :</label>
          <div class="col-12 col-md-8 col-xl-6"><input type="password" class="form-control" name="password1" autocomplete="new-password" required id="id_password1"></div>
<span class="helptext"><ul><li>Votre mot de passe ne peut pas trop ressembler à vos autres informations personnelles.</li><li>Votre mot de passe doit contenir au minimum 8 caractères.</li><li>Votre mot de passe ne peut pas être un mot de passe couramment utilisé.</li><li>Votre mot de passe ne peut pas être entièrement numérique.</li></ul></span>
    

          <label class="mt-2 mb-2" for="id_password2">Confirmation du mot de passe :</label>
          <div class="col-12 col-md-8 col-xl-6"><input type="password" class="form-control" name="password2" autocomplete="new-password" required id="id_password2"></div>
          <span class="helptext">Saisissez le même mot de passe que précédemment, pour vérification.</span>



          {% csrf_token %}
          <div class="d-flex justify-content-end mt-2 mb-2 mb-md-0">
            <a class="btn btn-dark me-3" href="{% url 'login' %}"><i class="bi bi-arrow-left-circle"></i> Retourner</a>
            <button class="btn btn-dark " type="submit"><i class="bi bi-check-circle"></i> S’inscrire</button>
          </div>
          
          {% if form.errors %}
        {{ form.errors }}
      {% endif %}
          
        </div>
      </form>
    </div>


  </div>
</div>
{% endblock content %}

