<!-- Modal -->
<div class="modal fade" id="staticBackdropDelete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Etes-vous sûr de vouloir supprimer ce ticket ?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!--<div class="modal-body"></div>-->
      <div class="modal-footer">
        <a type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal"><i class="bi bi-arrow-left-circle"></i> Annuler</a>
        <form action="" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-outline-danger"><i class="bi bi-trash-fill"></i> Supprimer</button>
        </form>
      </div>
    </div>
  </div>
</div>